:root{
	--mainColor:#0c447c;
	--secondaryColor:#325779;

	--borderColor:#09525e;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#123d68;


	--buttonColor:#073d70;


}
